<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/assets/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">   
    <title>BeeHub</title>
</head>
<body>
    <header>
        <div id="header-left">
            <img src="/assets/menu icon.png" alt="">
        </div>
        <div id="header-center">
            <img src="/assets/icon.png" alt="">
            <h1 class="orange">BeeHub</h1>
        </div>
        <div id="header-right">
            <div class="link">
                <a href="/html/login.html">Login</a>
            </div>
            <div class="link">
                <a href="/html/register.html">Register</a>
            </div>
        </div>
    </header>

    <main class="register-container">
        <div class="form">
            <form method="POST" action="/php/register.php">
                Username : <input type="text" name="username"><br><br>
                Email : <input type="email" name="email"><br><br>
                Name : <input type="name" name="name"><br><br>
                Password : <input type="password" name="password"><br><br>
                <input type="submit" value="Submit">
            </form>
            <br>
            <p class="text-center">Already a member? <a href="/php/login.php">Sign In</a></p>
        </div>
    </main>
    
</body>
</html>